@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Manrope', sans-serif;
}

body {
    display: flex;
    height: 100vh;
    background: hsl(218, 23%, 16%);
}

#App {
    width: 33%;
    height: 40%;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    background: hsl(217, 19%, 24%);
    color: hsl(193, 38%, 86%);
}

.main-advice {
    height: 100%;
    display: flex;
    flex-flow: column;
    text-align: center;
    justify-content: space-evenly;
}

.head-advice {
    color: hsl(150, 100%, 66%);
}

span.title-id-advice {
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 3px;
}

.body-advice {
    font-size: 20px;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    height: 55%;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
}

q.paragraph-advice {
    margin-bottom: auto;
    margin-top: auto;
    font-weight: 700;
}

.background-image {
    width: 100%;
    height: 16px;
    background: url(../images/pattern-divider-desktop.svg);
    background-position: center;
}

.attribution {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #c7c7c7;
    padding: 20px;
    text-align: center;
}

.footer-advice {
    position: relative;
}

button.btn-random-advice {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    border: none;
    background-color: hsl(150, 100%, 66%);
    background-image: url(../images/icon-dice.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, -5px);
    cursor: pointer;
}

@media (max-width: 750px) {
    div#App {
        width: 90%;
        margin-top: 25vh;
    }

    .background-image {
        background: url(../images/pattern-divider-mobile.svg);
        background-position: center;
    }
}